@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway&family=Staatliches&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Staatliches', cursive;
    font-weight: 300;
    background: #181818;
    color: #ffff;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;    
}
#left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#right {
    flex: 1;
}

/* Sign in */
#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;
}

#signin .logo b {
    font-family: 'Norican', cursive;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #c22bb5, 0 0 0.5em #bd36b1, 0 0 0.1em #f87d7d, 0 10px 3px #000;
    font-size: 6rem;
}

#signin .logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn{
    width: 100%;
}

#signin .secondary-btn,
.or,
.links {
    width: 60%;
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.2rem;
    align-items: center;
}

#signin .or span {
    color: #ccc;
    padding: 0 .8rem;
}

#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}
/* Showcase*/
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://cdn.pixabay.com/photo/2016/03/09/09/42/buildings-1245953_960_720.jpg') no-repeat
       center center / cover;
    height: 100vh;
    text-align: center; 
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
    text-shadow: 3px 3px #a765bb;
   

}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;
    font-weight: bold;
    text-shadow: 3px 2px #0c010f;
    background-color: #fff 0.5;
    
}

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 1rem;
}

#main-footer a {
    color: #a765bb;
    text-decoration: underline;
}

/* Button */
.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background: #a765bb;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background-color: #e6c3e4;
    color: #a765bb;
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 100px;
    box-shadow: 0 3px 40px  #a765bb ,0 0px 20px #f87d7d;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover {
    border-color:  #f87d7d;
    box-shadow: 0 2px 0px #b73480,0 7px 30px #c07893;
    background-color: #0e0e12;
    font-family: 'Raleway', sans-serif;   
}

/* Media Queries*/
@media (min-width: 1200px) {
    #left{
        flex: 4;
    }
    #right{
        flex: 6;
    }
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }
    #right {
        display: none;
    }
    #left {
        justify-content: start;
        margin-top: 4vh; 
    }

    #signin .logo {
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }

    #main-footer {
       padding-top: 1rem;
    }
}

